.Rproj.user
.Rhistory
.RData

## most of the mock directory
tests/testthat/mock/*
## un-ignore bin
!tests/testthat/mock/bin/
## but ignore everything in it
tests/testthat/mock/bin/*
## except perlbrew and license
!tests/testthat/mock/bin/perlbrew
!tests/testthat/mock/bin/LICENSE
inst/doc
